IDR_README_MD RCDATA "obfuscation_methods\\github\\README.md"
IDR_DOCUMENTATION_MD RCDATA "obfuscation_methods\\github\\Documentation.md"Documentation.md""
IDR_README_MD RCDATA "obfuscation_methods\\github\\file.txt"gi